@charset "UTF-8";

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

/* 테이블 스타일 */
table, th {
    border-collapse: collapse;
    border: 1px solid #ddd;
}

td {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    text-align: left; 
    padding: 5px; 
    box-sizing: border-box; 
    height: 80px; 
}

/* 이전/다음 달 날짜 스타일 */
td.inactive {
    color: #aaa; /* 현재 달이 아닌 날짜의 색 */
}

table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

th {
    height: 25px;
    color: #777;
    border-bottom: 0;
    text-align: center; 
    vertical-align: middle; 
}

.date {
    font-weight: bold;
}

.today {
    border: 1px solid #e0e0bf;
    background-color: #008aff;
    color: #000; 
}

.wrapper {
    width: 100%; 
    height: 100%; 
    background: #fff;
    border-radius: 10px;
    padding: 25px;
    border: 2px solid #ddd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.wrapper .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.wrapper .nav .current-date {
    font-size: 24px;
    font-weight: 600;
}

.wrapper .nav button {
    width: 38px;
    height: 38px;
    font-size: 30px;
    color: #878787;
}


/* 공모전 일정 하이라이트 스타일 */
td.highlight {
    color: #fff;
    background-color: #00bcd4; 
}
/* 팝업 */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; 
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    width: 500px; 
    max-width: 90%; 
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}



/* 팝업 닫기 버튼 */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #888;
}

#popup-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

#popup-details {
    font-size: 14px;
    margin-bottom: 20px;
}


.contest-schedule {
    flex: 1; 
    border: 2px solid #ddd; 
    border-radius: 10px;
    padding: 20px;
    max-width: 400px; 
    box-sizing: border-box; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#contestTable {
    width: 100%;
    border-collapse: collapse;
}

#contestTable th, #contestTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center; 
    vertical-align: middle; 
}

#contestTable th {
    background-color: #f4f4f4;
    font-weight: bold;
}
