@charset "UTF-8";
/*---------------------------------------------------------------------------------
Property Order: Layout, Sizing, Box Style, Text Style, Paragraph Style, Other Style
Form :display visibility
Flow :float clear
Position :position left right top bottom z-index
Size :width height overflow
Box :margin padding border
Background :background
Text :text font color
Other :cursor
-----------------------------------------------------------------------------------*/
/* Root */
:root {
  /* color */
  --white: #fff;
  --black1: #000;
  --black2: #252830;
  --black3: #474e58;
  --black4: #333;
  --gray1: #667284;
  --gray2: #8794a7;
  --gray3: #a2adbd;
  --gray4: #b9c3d1;
  --gray5: #d6dce3;
  --gray6: #e9edf1;
  --gray7: #f1f5f9;
  --gray8: #f6f8fb;
  --gray9: #cbcfd6;
  --gray10: #f3f5f6;
  --gray11: #737e8f;
  --gray12: #d3d6dc;
  --gray13: #999;
  --blue1: #34429c;
  --blue2: #4b79ee;
 

  /* size */
  --w100: 100%;
  --w18: 18%;
  --w20: 20%;
  --w34: 34%;
  --conwidth: 60rem;

  /* align */
  --margin--auto: 0 auto;

  /* space */
  --btnarea--margin--top1: 2rem;
  --btnarea--margin--top2: 3rem;

  /* etc */
  --transition: all ease 0.4s;
  --boxshadow1: 2px 3px 6px rgba(0, 0, 0, 0.15);
  --y50: translateY(-50%);
  --x50: translateX(-50%);

  /* paging */
  --paging--size: 2rem;
  --swiper-navigation-size: 44px;

}
/* Layout - 공통 */
.wrap {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}


td *,
div *,
li *,
span *,
p * {
  vertical-align: baseline;
}
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}
div {
  display: block;
  unicode-bidi: isolate;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
.main-sec.main-banner .my-sports .search_area {
  html,
  body {
    width: 100%;
    -webkit-font-smoothing: antialiased;
  }
}

/* 사이드 바 틀 */
aside#following-content {
  position: absolute;
  right: 50px;
  z-index: 99;
}
header,
main,
footer,
section,
aside,
article {
  display: block;
}
* {
  padding: 0px;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
}
aside {
  display: block;
  unicode-bidi: isolate;
}
html,
body {
  font-family: NanumSquare, 'Apple SD Neo Gothic', 'malgun gothic', dotum,
    sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 14px;
  color: #222;
}

/* 사이드 바 ul */
aside#following-content > ul {
  list-style: none;
  box-shadow: 1px 1px 12px 0px rgb(0 0 0 /50%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
* {
  padding: 0px;
  margin: 0px;
  -webkit-font-smoothin: antialiased;
}
ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

/* 연계 사이트 li*/
aside#following-content > ul > li:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}

/* 연계 사이트 css */
aside#following-content > ul > li:first-child > a {
  height: 60px;
  font-weight: bold;
  padding-bottom: 20px;
  border: none;
  background:#1F4E9C;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

aside#following-content > ul > li > a {
  display: block;
  padding: 15px 5px;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 14px;
  word-break: keep-all;
}

a {
  outline: none;
}

* {
  -webkit-font-smoothing: antialiased;
}

a:-webkit-any-link {
  cursor: pointer;
}

/* a1~a6 li */
* {
  padding: 0px;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}

/* a1~a6 모든 사이트 */
#a1,
#a2,
#a3,
#a4,
#a5,
#a6 {
  display: block;
  height: auto;
  padding: 15px 5px;
  border: 1px solid #e6e6e6;
  border-top: none;
  text-align: center;
  background-color: #fff;
  color: #000;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 14px;
  word-break: keep-all;
}

a {
  outline: none;
}

* {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
}

a:-webkit-any-link {
  cursor: pointer;
}

/* a7 닫힘 */
#toggle-button {
  border: none;
  background: #1F4E9C;
  color: #fff;
  font-weight: bold;
}

#toggle-button {
  display: block;
  height: auto;
  padding: 15px 5px;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 14px;
  word-break: keep-all;
}

*:focus {
  outline: none;
}

.flex-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--conwidth);
  margin: var(--margin--auto);
}
.flex-fs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: var(--conwidth);
  margin: var(--margin--auto);
}
.flex-sb.al-fs {
  align-items: flex-start;
}
.header {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: var(--transition);
}
.header .flex-sb {
  height: 100%;
}
.top-wrap {
  position: relative;
  border-bottom: 1px solid var(--gray5);
  background-color: var(--white);
}
.top-wrap .flex-fs {
  gap: 1.2rem;
  transition: var(--transition);
}
.top-wrap .home-logo {
  width: 180px;
  height: 80px;
  object-fit: cover;
}

.gnb-wrap {
  flex: 1;
}
.header.fixed .top-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.gnb-wrap .flex-sb {
  height: 100%;
  transition: var(--transition);
}
.gnb-wrap .gnb-menu {
  display: flex;
  align-items: center;
}
.gnb-wrap .gnb-menu > li {
  position: relative;
  flex: 1;
  max-width: 8.35rem;
}
.gnb-wrap .gnb-menu > li + li {
  transition: var(--transition);
}
.header .depth1 {
  display: flex;
  align-items: center;
  height: 5rem;
  padding: 0 1rem;
  font-size: 1rem;
  color: var(--black2);
  line-height: 1;
  transition: var(--transition);
  white-space: nowrap;
}
.header .depth2 {
  display: block;
  padding: 0.5rem;
  color: var(--gray1);
  line-height: 1.8;
}
.header .depth2:hover,
.header .depth2:focus {
  font-weight: 700;
  color: var(--blue2);
}
.header .depth2:hover .depth1,
.gnb-menu > li:hover .depth1 {
  color: var(--blue2);
}
.top-wrap .sub-list {
  display: none;
  position: absolute;
  top: 4rem;
  left: 0.5rem;
  z-index: 50;
  width: 100%;
  padding-top: 2rem;
}
.top-wrap .util-menu {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 1rem;
}
.top-wrap .util-menu > li {
  position: relative;
}
.top-wrap .util-menu > li:last-child {
  margin-left: -6.3rem;
}

.top-wrap .btn.sm {
  min-width: 4.5rem;
  transition: opacity 0.3s; /* 수정 - 헤더바 로그인 버튼 흐림 */
}

.gnb-bg {
  display: none;
  position: absolute;
  top: 5rem;
  left: 0;
  z-index: 30;
  width: 100%;
  height: 14rem;
  border-top: 1px solid var(--gray5);
  background-color: var(--white);
  transition: var(--transition);
  box-shadow: var(--boxshadow1);
}
.gnb-bg .flex-sb {
  position: relative;
  align-items: flex-start;
  padding-top: 2rem;
}
.gnb-bg .flex-sb::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -1rem;
  left: 1.05rem;
  width: 10rem;
  height: 9rem;
}
.gnb-bg .txt-info {
  font-size: 1.2rem;
  color: var(--black2);
}
.gnb-bg .depth1 {
  height: auto;
  padding: 0.6rem;
}
.gnb-bg .mypage-menu {
  position: relative;
  width: 15rem;
  padding-left: 8rem;
  top: -1rem;
}
.gnb-bg .mypage-menu::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--gray5);
}
.gnb-bg .mypage-menu .depth1 {
  font-weight: 700;
}
.all-menu {
  display: none;
  position: relative;
  width: 1.6rem;
  height: 1.6rem;
  background-size: 100%;
}
.container {
  position: relative;
  flex: 1;
  padding-top: 5rem;
  transition: var(--transition);
}
.content {
  max-width: var(--conwidth);
  margin: var(--margin--auto);
  padding: 3rem 20px 6rem;
}
.content.sticky {
  padding-top: 3.5rem;
}

/* footer 시작 */
.footer {     
  position: relative;
  background-color: var(--gray1);
}
.footer .util-menu {
  display: flex;
  align-items: center;
}
.footer .util-menu a {
  display: block;
  padding: 0.6rem 0.9rem;
  font-size: 0.7rem;
  color: var(--gray6);
}
.footer .util-menu > li {
  position: relative;
}
.footer .util-menu > li + li::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 0.6rem;
  background-color: var(--gray5);
  transform: var(--y50);
}
.footer .util-menu > li:first-child a {
  padding-left: 0.4rem;
}
.footer .util-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: var(--conwidth);
  margin: var(--margin--auto);
}

/* footer span part */
.footer .info-menu {
  display: flex;
  flex-wrap: wrap;
  max-width: 41rem;
  align-items: center;
}
.footer .info-menu .txt {
  position: relative;
  padding: 0.15rem 0.5rem;
  font-size: 0.8rem;
  color: var(--gray6);
  text-align: center;
}
.footer .info-menu .txt + .txt::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 0.6rem;
  background-color: var(--gray5);
  transform: var(--y50);
}
.footer .info-menu .txt:first-child,
.footer .info-menu .txt:nth-child(5) {
  padding-left: 0;
}
.footer .info-menu .txt:nth-child(5)::before {
  display: none;
}
.footer .info-menu .txt:nth-child(5),
.footer .info-menu .txt:nth-child(6) {
  padding-bottom: 0;
}
.footer .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  padding: 1.1rem 0;
  border-top: 1px solid var(--gray3);
  font-size: 0.65rem;
  color: var(--gray6);
  text-align: center;
  line-height: 1;
}
.footer .copyright .logo img {
  height: 1rem;
}
.clearlogo {    /* footer 로고 */
  max-width: 100%;
  width: 180px;
  height: 85px;
}

/* Color */
.stress1 {
  color: var(--green2);
}
.stress2 {
  color: var(--blue2) !important;
}
.black1 {
  color: var(--black1) !important;
}
.black2 {
  color: var(--black2) !important;
}
.black3 {
  color: var(--black3) !important;
}
.gray1 {
  color: var(--gray1) !important;
}
.red {
  color: var(--red1) !important;
}
.org1 {
  color: var(--org1) !important;
}

/* Button */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 8.7rem;
  width: auto;
  height: 3rem;
  padding: 0.85rem 0;
  border: 1px solid #1f4e9c;
  border-radius: 0.5rem;
  background-color: #1f4e9c;
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
  line-height: 1;
  text-align: center;
  vertical-align: top;
}
.btn.disabled {
  border-color: var(--gray7) !important;
  background-color: var(--gray7) !important;
  color: var(--gray3) !important;
  pointer-events: none !important;
}
.btn.wide {
  width: 100%;
}
.btn.line {
  border-color: var(--gray4);
  background-color: var(--white);
  color: var(--gray1);
}
.btn.info {
  border-color: var(--gray2);
  background-color: var(--gray2);
}
.btn.sm {
  min-width: 5.8rem;
  height: 2rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  font-weight: 400;
}
.btn.sm:hover, .btnj:hover, .btne:hover {   /* 수정 - (헤더 로그인, join 회원가입, editProfile 수정)버튼 흐림 */
  opacity: 0.8;     
}
.btn.btnj, .btn.btne { /* 수정 - (join 회원가입, editProfile 수정)버튼 흐림시 0.3초간 변화 */
  transition: opacity 0.3s;
}

.btn.form {
  justify-content: space-between;
  gap: 0.8rem;
  min-width: auto;
  height: 2.25rem;
  padding: 0 0.6rem;
  border-radius: 0.4rem;
  border: 1px solid var(--gray2);
  background-color: var(--white);
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--black3);
}

.btn-area {
  margin-top: var(--btnarea--margin--top1);
  text-align: center;
}
.btn-area.type1 {
  margin-top: var(--btnarea--margin--top2);
}
/* Title, Text */
.tit-area {
  margin-bottom: 3rem;
  text-align: center;
}
.tit-type1 {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--black2);
}
.tit-type2 {
  margin: 3rem 0 0.8rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--black2);
  line-height: 1.2;
}
.tit-type2.type1 {
  margin: 5rem 0 2rem;
}
.tit-type2.type1:first-of-type {
  margin-top: 3rem;
}
.tit-type2 + .txt-sub {
  margin: 0 0 0.8rem;
  font-size: 0.8rem;
}
.tit-type2 + .txt-con {
  padding-top: 0.4rem;
}
.txt-con + .tit-type3 {
  margin-top: -1rem;
}
.tit-type3 {
  margin: 2rem 0 0.8rem;
  font-size: 1rem;
  font-weight: 700;
  color: var(--black2);
  line-height: 1.2;
}
.tit-type4 {
  margin: 2rem 0 0.8rem;
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--black3);
}
.tit-info {
  margin-top: 0.5rem;

  color: var(--gray1);
  line-height: 1.3;
}
.tit-sub {
  font-size: 0.8rem;
  color: var(--gray2);
  line-height: 1.3;
  word-break: break-all;
}
.tit-sub.type1 {
  margin-bottom: 3rem;
}
.tit-sub .requisite {
  margin-left: 0;
}
.tit-sub2 {
  font-size: 0.8rem;
  color: var(--gray1);
  line-height: 1.3;
  word-break: break-all;
}
.txt-con {
  margin-bottom: 3rem;
}
.txt-con + .txt-con {
  margin-top: -2.6rem;
}
.txt-con .unit {
  display: block;
  margin-top: 0.3rem;
  font-size: 0.7rem;
}
.txt-con.type1 {
  margin: 2rem 0 3rem;
}
.txt-con.type1 + .txt-con.type1 {
  margin-top: -2.2rem;
}
.txt-con.type1 .stit {
  display: block;
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
}

/* Align */
.txt-r {
  margin: 1rem 0 0.8rem;
  text-align: right;
}
.txt-r.type1 {
  margin: 2rem 0 0.4rem;
}
.img-c {
  text-align: center;
}

/* Table */
.tbl-wrap {
  margin: 2rem 0 1rem;
}
.txt-r.type1 + .tbl-wrap {
  margin-top: 0;
}
.tbl-wrap .ico-touch {
  display: none;
}
.tbl-list {
  border-top: 2px solid var(--gray1);
}
.tbl-list thead th {
  padding: 0.8rem 0.5rem;
  border-bottom: 1px solid var(--gray9);
  background-color: var(--gray8);
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--black2);
  text-align: center;
  word-break: keep-all;
}
.tbl-list thead th + th {
  border-left: 1px solid var(--gray9);
}
.tbl-list tbody th {
  padding: 0.8rem 0.5rem;
  border-right: 1px solid var(--gray9);
  border-bottom: 1px solid var(--gray9);
  background-color: var(--gray8);
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--black2);
  text-align: center;
  word-break: keep-all;
}
.tbl-list tbody td {
  padding: 0.8rem;
  border-bottom: 1px solid var(--gray9);
  font-size: 0.8rem;
  text-align: center;
}
.tbl-list tbody th.ldata,
.tbl-list tbody td.ldata {
  text-align: left;
}
.tbl-list tbody td.rdata {
  text-align: right;
}
.tbl-list tbody td + td {
  border-left: 1px solid var(--gray9);
}
.tbl-list tbody th.nobg {
  background-color: var(--white);
  font-weight: 400;
}

.tbl-view {
  border-top: 2px solid var(--gray1);
}
.tbl-view thead tr th {
  padding: 0.8rem 0.5rem;
  border-right: 1px solid var(--gray9);
  border-bottom: 1px solid var(--gray9);
  background-color: var(--gray8);
  font-size: 0.8rem;
  text-align: center;
  white-space: nowrap;
  word-break: break-all;
}
.tbl-view tbody th {
  padding: 0.8rem 0.5rem;
  border-right: 1px solid var(--gray9);
  border-bottom: 1px solid var(--gray9);
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--black2);
  text-align: center;
  word-break: keep-all;
  vertical-align: middle;
}
.tbl-view tbody th img { /* 취업 사이트 중앙 정렬 */
  display: block;
  margin: 0 auto;
}
.tbl-view tbody td {
  padding: 0.8rem;
  border-bottom: 1px solid var(--gray9);
  font-size: 0.8rem;
  text-align: left;
  word-break: break-word;
}
.tbl-view .txt-list {
  margin: 0.4rem 0;
}
.tbl-view .txt-list:only-child {
  margin: 0;
}
.tbl-view .w18,
.tbl-write .w18 {
  width: var(--w18);
}
.tbl-view .w20,
.tbl-write .w20 {
  width: var(--w20);
}
.tbl-view .w34,
.tbl-write .w34 {
  width: var(--w34);
}
.tbl-view .txt-list > li {
  color: var(--gray1);
  word-break: break-word;
}
.tbl-view .txt-list > li + li {
  margin-top: 0.4rem;
}
.txt-con + .tbl-view {
  margin-top: -2.2rem;
}
.tbl-view thead .list-num {
  width: 7%;
}
.tbl-view thead .list-date {
  width: 18%;
}
.tbl-write {
  border-top: 2px solid var(--gray1);
}
.tbl-write tbody th {
  padding: 0.8rem 0.5rem;
  border-right: 1px solid var(--gray9);
  border-bottom: 1px solid var(--gray9);
  background-color: var(--gray8);
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--black2);
  text-align: center;
}
.tbl-write tbody td {
  padding: 0.75rem 0.9rem;
  border-bottom: 1px solid var(--gray9);
  font-size: 0.8rem;
  text-align: left;
}
/* Board */
.board-list {
  border-top: 2px solid var(--gray1);
}
.board-list * {
  word-break: keep-all;
}
.board-list thead .list-num {
  width: 7%;
}
.board-list thead .list-date {
  width: 18%;
}
.board-list thead th {
  padding: 1rem 0;
  border-bottom: 1px solid var(--gray9);
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--black2);
  text-align: center;
}
.board-list tbody td {
  padding: 1rem 0;
  border-bottom: 1px solid var(--gray9);
  color: var(--black2);
  text-align: center;
}
.board-list tr.notice td {
  background-color: var(--gray8);
}
.board-list tr.notice td.list-tit {
  font-weight: 700;
}
.board-list tbody .list-tit {
  padding-left: 0.5rem;
  text-align: left;
}
.board-list .list-tit a {
  margin-right: 0.85rem;
  color: var(--black2);
  word-break: break-all;
}
.board-list tbody .list-date {
  font-size: 0.8rem;
  color: var(--gray1);
}

.board-view {
  border-top: 2px solid var(--gray1);
  border-bottom: 1px solid var(--gray11);
}
.board-view .board-header {
  padding: 1.2rem 0.5rem;
  border-bottom: 1px solid var(--gray12);
}
.board-view .board-header > .tit {
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
  font-weight: 700;
  color: var(--black2);
  line-height: 1.2;
}
.board-view .board-header .info {
  display: flex;
  align-items: center;
}
.board-view .board-header .info > li {
  position: relative;
  padding: 0 0.5rem;
  font-size: 0.8rem;
  color: var(--gray1);
}
.board-view .board-header .info > li::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 0.4rem;
  background-color: var(--gray2);
  transform: var(--y50);
}
.board-view .board-header .info > li:first-child {
  padding-left: 0;
}
.board-view .board-header .info > li:first-child::before {
  display: none;
}
.board-view .board-con {
  min-height: 10rem;
  padding: 0.9rem 0.5rem;
  line-height: 1.3;
}
/* prev-next 리스트 컨테이너 */
.prev-next {
  margin-top: 2.5rem;
  border-top: 1px solid var(--gray9);
}
.prev-next > li {
  display: grid;
  grid-template-columns: auto 1fr;
  border-bottom: 1px solid var(--gray9);
  background-color: var(--gray8);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.prev-next .tit {
  padding-right: 1.8rem;
  padding-left: 1.8rem;
}
.prev-next .link {
  color: var(--black2);
}
.prev-next .no-board {
  pointer-events: none;
}
.prev-next .no-board * {
  color: var(--gray3);
}
/* Text List */
.form-list + .txt-list {
  margin-top: 2rem;
}
.txt-list {
  margin-bottom: 0.8rem;
}
.txt-list > li {
  position: relative;
  padding-left: 0.6rem;
  font-size: 0.8rem;
  color: var(--gray2);
  word-break: break-all;
}
.txt-list > li::before {
  content: '';
  display: block;
  position: absolute;
  top: 0.45rem;
  left: 0;
  width: 0.15rem;
  height: 0.15rem;
  border-radius: 100%;
  background-color: var(--gray2);
}
.txt-list > li + li {
  margin-top: 0.2rem;
}
.txt-list.no-bul > li,
.txt-list > li.no-bul {
  padding-left: 0;
}
.txt-list.no-bul li::before,
.txt-list > li.no-bul::before {
  display: none;
}
.txt-list .link {
  font-weight: 700;
  color: var(--blue2);
  text-decoration: underline;
}
.txt-list .sub-list {
  margin-top: 0.1rem;
}
.txt-list .sub-list > li + li {
  margin-top: 0.2rem;
}
.txt-list .sub-list > li::before {
  content: '- ';
}

.txt-list .unit {
  margin-top: 0.1rem;
}
.txt-list .con {
  margin-bottom: 0.2rem;
}
.txt-list .stit {
  display: block;
  margin-bottom: 0.3rem;
}
.tit-type2 + .txt-list.type1 {
  margin-top: 1.2rem;
}
.txt-list.type1 > li {
  font-size: 0.9rem;
  color: var(--gray1);
}
.txt-list.type1 > li + li {
  margin-top: 0.4rem;
}
.txt-list.type1 > li::before {
  background-color: var(--gray2);
}
.txt-list.type1 .sub-list {
  counter-reset: sub-list;
}
.txt-list.type1 .sub-list > li {
  position: relative;
  padding-left: 1.1rem;
}
.txt-list.type1 .sub-list > li::before {
  counter-increment: sub-list;
  content: counter(sub-list, lower-alpha) '. ';
  position: absolute;
  top: 0;
  left: 0;
}
.txt-list.type2 {
  margin-top: 1.2rem;
}
.txt-list.type2 > li {
  color: var(--gray1);
}
.txt-list.type2 > li::before {
  background-color: var(--gray1);
}

/* serach */
.search-area {
  display: flex;
  justify-content: center;
  padding: 1rem 0 1.2rem;
}
.search-area .form-area {
  max-width: 31.25rem;
  gap: 0.75rem;
}
.search-area .select {
  flex: 0 0 7.5rem;
}
.search-area .btn {
  min-width: 7.25rem;
}

/* Tab */
.tab-list {
  display: flex;
  margin-bottom: 1.2rem;
}
.tab-list > li {
  flex: 1;
  position: relative;
  border: 1px solid var(--gray5);
  border-right: 0;
}
.tab-list > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 3rem;
  background-color: var(--gray7);
  color: var(--gray2);
}
.tab-list > li:last-child {
  border-right: 1px solid var(--gray5);
}

.tab-list > li.on > a {
  z-index: 2;
  border-color: var(--blue1);
  background-color: transparent;
  color: var(--white);
}
.tab-list > li.on::before {
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  background-color: var(--blue1);
}
.tit-area + .tab-list,
.tit-area + .board-view {
  margin-top: 3rem;
}
.tab-con {
  display: none;
}
.tab-con.on {
  display: block;
}

body.scroll-lock {
  overflow: hidden;
}

/* Paging */
.paging-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.paging-wrap .btn-con,
.paging-wrap .paging-con {
  display: flex;
}
.paging-wrap .paging-con {
  gap: 0.5rem;
}
.paging-wrap .move,
.paging-wrap .page {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--paging--size);
  height: var(--paging--size);
  vertical-align: top;
}
.paging-wrap .move {
  margin: 0 0.1rem;
  border: 1px solid var(--gray9);
  border-radius: 0.3rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 1.2rem;
}
.paging-wrap .move.first {
    margin-left: 0;
    background-image: url(/image/ico_paging_first.svg);
}
.paging-wrap .move.prev {
    margin-right: 1.2rem;
    background-image: url(/image/ico_paging_prev.svg);
}
.paging-wrap .move.next {
    margin-left: 1.2rem;
    background-image: url(/image/ico_paging_next.svg);
}
.paging-wrap .move.last {
    margin-right: 0;
    background-image: url(/image/ico_paging_last.svg);
} 
.paging-wrap .page {
  width: 1.9rem;
  font-size: 0.8rem;
  color: var(--black2);
}
.paging-wrap .page.current {
  font-weight: 400;
}


/* 검사 페이지 css */
ul.quick_list {
  border: 1px solid #e0e0e0;
  list-style: none;
  padding-inline-start: 20px;
  unicode-bidi: isolate;
}

ul.quick_list > li {
  position: relative;
  padding: 30px 150px 30px 30px;
  color: #222;
  list-style: none;
  border-bottom: 1px solid #e0e0e0;
}

ul.quick_list > li:last-child {
  border-bottom: none;
}

strong.dot_tit {
  display: block;
  position: relative;
  padding-left: 0px;
  font-size: 18px;
  line-height: 27px;
  color: #000;
}

strong {
  font-weight: bold;
}

ul.quick_list > li > p {
  margin-top: 10px;
  font-size: 15px;
  line-height: 24px;
  color: #666;
  word-break: keep-all;

  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 20px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

ul.quick_list > li.notxt > a {
  top: 40px;
}

ul.quick_list > li > a {
  position: absolute;
  top: 40px;
  right: 30px;
  display: inline-block;
  width: 95px;
  height: 40px;
  padding: 0 5px 0 15px;
  border-radius: 3px;
  text-align: left;
  line-height: 40px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  background: #014da1;
  outline: none;
}

/* 주제공유 게시판 */
.sharebutton {
  position: absolute;
  bottom: 120px;
  right: 265px;
}

.sb {
  width: 70px;
  height: 40px;
  font-size: 13px;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  background-color: #4b79ee;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  padding: 0;
  color: white;
}

.sb:active {
  background-color: #4b79ee;
}

/* 글 쓰기 부분*/
.writeb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  
}

.writet {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  margin-top: 60px;
  
}
input[type="text"] {
  border: 1.5px rgb(68, 136, 244) solid;
  width: 600px;
  height: 35px;
  border-radius: 5px;
  padding-left: 10px;
}
textarea {
  border: 1.5px rgb(68, 136, 244) solid;
  width: 600px;
  height: 350px;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 10px;
  resize: none;
}

.w1 {
  height: 70px;
  font-size: 36px;
  font-weight: bold;
  color: #252830;
  text-align: center;
  margin: 0 auto;
}

.w2, .w3, .w5 {
  padding-top: 10px;
}
.w4 {
  padding-top: 30px;
}

.w2, .w4 {
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #252830;
}
input[type="submit"] {
  width: 100px;
  height: 40px;
  font-size: 15px;
  border: 0;
  outline: 1.5px rgb(68, 136, 244) solid;
  border-radius: 5px;
  padding-left: 10px;
  background-color: rgb(164, 199, 255);
}
input[type="submit"]:active {
  width: 100px;
  height: 40px;
  font-size: 15px;
  border: 0;
  border-radius: 5px;
  outline: 1.5px rgb(27, 76, 155) solid;
  padding-left: 10px;
  background-color: rgb(68, 136, 244);
}

.submit-button {
  width: 70px;
  height: 40px;
  font-size: 13px;
  font-weight: bold;
  background-color: #4b79ee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  color: white;

  position: absolute;
  right: 545px;
}
.submit-button:active {
  background-color: #4b79ee;
}
.ebannerimg{    /*취업사이트 img 크기 조절*/
  height: 35px;
}