@charset "UTF-8";
/* 대진 On 정보 메인 */
.container {
    padding-top: 5rem;
}
.main input[type="text"] + label {
    font-size: 0;
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0, 0, 0, 0);
  }
  
/* 화면 너비가 960px 이상일 때 적용되는 .con01 스타일 */
@media only screen and (min-width: 960px) {

.mm {width:100%;max-width:1380px;margin:0 auto;padding: 0 40px;}
    
    /* con01 */
    .con01					{display:grid;grid-template-columns:36.15% calc(63.85% - 50px);column-gap:50px;row-gap:40px;padding: 60px 40px 100px;}

    .banner_wrap {grid-row: 1 / 3;position: relative;margin-bottom: -13px; overflow: hidden;}

    .mySwiper .swiper-slide a {display: block;border-radius: 30px;overflow: hidden;}
    .mySwiper .swiper-slide a:focus {margin: 2px}
    .mySwiper .swiper-slide a img {width: 100%;height: 100%;}
    .mySwiper .swiper-slide a img.mobile {display:none !important}
    .mySwiper .swiper-pagination {text-align: center;margin-top: 10px;position: absolute;left: 35px;bottom: 10px;}
    .mySwiper .swiper-button-prev, 
    .mySwiper .swiper-button-next {top: 50%;transform: translateY(-50%);}

    .search_area			{margin-top:10px}
    .search_area > p		{display:flex;align-items: center; position:relative}
    .search_area > p span	{font-size: 1.1rem ;color:#1F4E9C;margin-right: 15px;}
    .search_area > p input	{height:66px; border:2px solid  #1F4E9C; background:#fff; border-radius:5px; padding:0 25px; font-size: 0.9rem; width:100%; color:#444}
    .search_area > p a		{display: inline-block; background:  #1F4E9C url(/image/search_btn.png)no-repeat 50% 50%; width:65px; height:65px; transition: all 0.2s; font-size:0; position:absolute; right:0; top:0;  border-radius:0 5px 5px 0; }
    .search_area > p a:hover {background-color: #1F4E9C}
    
    .quick					{display:grid;grid-template-columns: repeat(3, 1fr); border-radius:15px; box-shadow: 0px 10px 20px 6px rgba(0,0,0,0.07);background: #fff;}
    .quick li a				{display:flex;font:400 18px/22px "Poppins", "Noto Sans KR", sans-serif;color:#111;width:100%;height:100%;position:relative;transition:all 0.2s;align-items: center;padding: 12% 5%;/* white-space: nowrap; */word-break: keep-all;}
    .quick li a::after		{display:inline-block; content:''; width:1px; height:60px; background:#eee; position:absolute; right:0; }
    .quick li a::before		{display:inline-block;content:'';width: 90px;height: 90px;background: url(/image/quick01.png)no-repeat 70% 50%;transition:all 0.2s;}
    .quick li a span.text	{display:block; font:300 15px/20px "Poppins", "Noto Sans KR", sans-serif;color:#888;word-break: keep-all;}
    .quick li:nth-child(-n+3) a			{border-bottom:1px solid #eee;}
    .quick li:nth-child(3n) a::after	{display:none}
    
    .quick li:nth-child(2) a:before {background:url(/image/quick02.png)no-repeat 50% 50%}
    .quick li:nth-child(3) a:before {background:url(/image/quick03.png)no-repeat 50% 50%}
    .quick li:nth-child(4) a:before {background:url(/image/quick04.png)no-repeat 65% 50%;}
    .quick li:nth-child(5) a:before {background:url(/image/quick05.png)no-repeat 50% 50%}
    .quick li:nth-child(6) a:before {background:url(/image/quick06.png)no-repeat 50% 50%} 
    .quick li a:hover				{color: #1F4E9C;background-color: #edf3fc;}
    .quick li a:hover:before		{background-position-y:38%;}
    .quick li a:hover span.text		{color:#1F4E9C}
}

@media only screen and (min-width: 960px) and (max-width: 1100px) {

    /* con01 */
    .con01					{column-gap: 30px; grid-template-columns: 36.15% calc(63.85% - 30px); row-gap: 30px}
    .quick li a span.text	{display:none}
    .quick li a				{font-size:17px}
    .quick li a::before		{height:65px;width: 90px;}
    
} 
    /*----------- TABLET -----------*/
    @media only screen and (min-width: 640px) and (max-width: 959px) {
    .mm {width:100%;padding: 0 30px;}
    
    /* con01 */
    .con01					{padding: 30px 30px 80px;display: grid;grid-template-columns: 55% 45%;row-gap: 40px;}
    
    .banner_wrap			{position:relative}

    .mySwiper .swiper-slide a {display: block;border-radius: 20px;overflow: hidden;}
    .mySwiper .swiper-slide a:focus {margin: 2px}
    .mySwiper .swiper-slide a img {width: 100%;}
    .mySwiper .swiper-slide a img.pc {display:none !important}

    .search_area			{margin: 30px 0 25px 30px;}
    .search_area > p		{/* display:flex; */align-items: center;position:relative}
    .search_area > p span	{font:500 22px/22px;color:#1F4E9C;margin-bottom: 10px;display: block;}
    .search_area > p input	{height: 55px;border:2px solid #1F4E9C;background:#fff;border-radius:5px;padding: 0 50px 0 15px;font:400 17px/22px;width:100%;color:#444}
    .search_area > p a		{display: inline-block;background: #1F4E9C url(/image/search_btn.png)no-repeat 50% 50% / 22px;width: 50px;height: 55px;transition: all 0.2s;font-size:0;position:absolute;right:0;top: 32px;border-radius:0 5px 5px 0;}
    .search_area > p a:hover {background-color:#1F4E9C}
    
    .quick					{display:grid;grid-template-columns: repeat(3, 1fr);border-radius:15px;overflow:hidden;box-shadow: 0px 10px 20px 6px rgba(0,0,0,0.07);background: #fff;grid-column: 1/3;}
    .quick li a				{display:flex;font: 400 18px/26px "Poppins", "Noto Sans KR", sans-serif;color:#111;width:100%;height:100%;position:relative;transition:all 0.2s;align-items: center;padding: 12px 10px;/* white-space: nowrap; */word-break: keep-all;}
    .quick li a::after		{display:inline-block; content:''; width:1px; height:60px; background:#eee; position:absolute; right:0; }
    .quick li a::before		{display:inline-block;content:'';width: 70px;height: 70px;background: url('/image/quick01.png')no-repeat 50% 50% / 40px;transition:all 0.2s;}
    .quick li a span.text	{display:block; font:300 15px/20px "Poppins", "Noto Sans KR", sans-serif;color:#888;word-break: keep-all;}
    .quick li:nth-child(-n+3) a			{border-bottom:1px solid #eee;}
    .quick li:nth-child(3n) a::after	{display:none}
    
    .quick li:nth-child(2) a:before {background: url(/image/quick02.png)no-repeat 50% 50% / 50px;}
    .quick li:nth-child(3) a:before {background: url(/image/quick03.png)no-repeat 10% 50% / 54px;}
    .quick li:nth-child(4) a:before {background: url(/image/quick04.png)no-repeat 50% 50% / 40px;}
    .quick li:nth-child(5) a:before {background: url(/image/quick05.png)no-repeat 30% 50% / 45px;}
    .quick li:nth-child(6) a:before {background: url(/image/quick06.png)no-repeat 50% 50% / 42px;} 
    .quick li a:hover				{color: #1F4E9C;background-color: #edf3fc;}
    .quick li a:hover:before		{background-position-y:38%;}
    .quick li a:hover span.text		{color:#1F4E9C}
    
    }  
    /*----------- MOBILE -----------*/
    @media only screen and (max-width: 639px) {
    .mm {width:100%;padding: 0 15px;}
    
    /* con01 */
    .con01					{padding: 25px 15px 30px;}
    
    .banner_wrap			{position:relative; width:100%}
    
    .mySwiper .swiper-slide a {display: block;border-radius: 20px;overflow: hidden;}
    .mySwiper .swiper-slide a:focus {margin: 2px}
    .mySwiper .swiper-slide a img {width: 100%;}
    .mySwiper .swiper-slide a img.pc {display:none !important}
    
    .search_area			{margin: 35px 0 20px;}
    .search_area > p		{display:flex;align-items: center; position:relative}
    .search_area > p span	{display: none;}
    .search_area > p input	{height: 55px;border:2px solid #1F4E9C;background:#fff;border-radius:5px;padding: 0 55px 0 15px;font: 400 15px/22px;width:100%;color:#444}
    .search_area > p a		{display: inline-block;background: #1F4E9C url(/image/search_btn.png)no-repeat 50% 50% / 22px;width: 50px;height: 55px;transition: all 0.2s;font-size:0;position:absolute;right:0;top:0;border-radius:0 5px 5px 0;}
    .search_area > p a:hover {background-color:#1F4E9C} 
    
    .quick					{display:grid;grid-template-columns: repeat(2, 1fr);border-radius: 10px;overflow:hidden;box-shadow: 0px 10px 20px 6px rgba(0,0,0,0.07);background: #fff;}
    .quick li a				{display:flex;font: 500 15px/26px "Poppins", "Noto Sans KR", sans-serif;color:#111;width:100%;height:100%;position:relative;transition:all 0.2s;align-items: center;padding: 5px 10px;/* white-space: nowrap; */word-break: keep-all;border-bottom: 1px solid #eee;}
    .quick li a::after		{display:inline-block; content:''; width:1px; height:35px; background:#eee; position:absolute; right:0; }
    .quick li a::before		{display:inline-block;margin-right:5px;content:'';width: 47px;height: 50px;background: url(/image/quick01.png)no-repeat 50% 55% / 28px;transition:all 0.2s;}
    .quick li a span.text	{display: none;}
    .quick li:nth-last-child(-n+2) a		{border-bottom: none;}
    .quick li:nth-child(2n) a::after	{display:none}
    
    .quick li:nth-child(2) a:before {background: url(/image/quick02.png)no-repeat 50% 50% / 37px;}
    .quick li:nth-child(3) a:before {background: url(/image/quick03.png)no-repeat 10% 50% / 43px;}
    .quick li:nth-child(4) a:before {background: url(/image/quick04.png)no-repeat 50% 50% / 31px;}
    .quick li:nth-child(5) a:before {background: url(/image/quick05.png)no-repeat 30% 50% / 35px;}
    .quick li:nth-child(6) a:before {background: url(/image/quick06.png)no-repeat 50% 50% / 31px;} 
    .quick li a:hover				{color: #1F4E9C;background-color: #edf3fc;}
    .quick li a:hover:before		{background-position-y:38%;}
    .quick li a:hover span.text		{color:#1F4E9C}
    }
    