@charset "UTF-8";
/*************************************************
스포츠월드 - 메인
**************************************************/
.container {
    padding-top: 5rem;
}
.main-sec .tit-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.main-sec .tit-wrap .link {
    font-size: 1rem;
    color: var(--black2);
    text-decoration: underline;
}
.main-sec .more {
    position: relative;
    padding-right: 1.2rem;
    font-size: 0.9rem;
    color: var(--black2);
}
.main-sec .more::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 0.6rem;
    height: 0.6rem;
    /* background: url(../images/main/ico_more.svg) no-repeat 0 0 / 100%; */
    transform: var(--y50);
}



/* 화면 너비가 960px 이상일 때 적용되는 .con01 스타일 */
@media only screen and (min-width: 960px) {

.mm {width:100%;max-width:1380px;margin:0 auto;padding: 0 40px;}
    
    /* con01 */
    .rowgroup				{width: 100%;background-position: center;position: relative;padding-bottom: 75px;z-index: 0;}
    .rowgroup::before		{content: '';display: inline-block;width: 278px;height: 221px;position: absolute;top: 0px;right: 0px;z-index: -2;}
    .rowgroup::after		{content: '';display: inline-block;width: 171px;height: 257px;position: absolute;bottom: -88px;right: 3%;z-index: -1;}
    .con01					{display:grid;grid-template-columns:36.15% calc(63.85% - 50px);column-gap:50px;row-gap:40px;padding: 60px 40px 100px;}
    .banner_wrap {
        grid-row: 1 / 3;
        position: relative;
        margin-bottom: -13px;
    }
    .mySwiper .swiper-slide a {
        display: block;
        border-radius: 30px;
        overflow: hidden;
    }
    .mySwiper .swiper-slide a:focus {
        margin: 2px
    }
    .mySwiper .swiper-slide a img {
        width: 100%;
        height: 100%
    }
    .mySwiper .swiper-pagination {
        text-align: center;
        margin-top: 10px;
        position: absolute;
        left: 35px;
        bottom: 10px;
    }
    
    .mySwiper .swiper-button-prev, 
    .mySwiper .swiper-button-next {
        top: 50%;
        transform: translateY(-50%);
    }
    .search_area			{margin-top:10px}
    .search_area > p		{display:flex;align-items: center; position:relative}
    .search_area > p span	{font-size: 1.1rem ;color:#1F4E9C;margin-right: 15px;}
    .search_area > p input	{height:66px; border:2px solid  #1F4E9C; background:#fff; border-radius:5px; padding:0 25px; font-size: 0.9rem; width:100%; color:#444}
    .search_area > p a		{display: inline-block; background:  #1F4E9C url(../image/search_btn.png)no-repeat 50% 50%; width:65px; height:65px; transition: all 0.2s; font-size:0; position:absolute; right:0; top:0;  border-radius:0 5px 5px 0; }
    .search_area > p a:hover {background-color: #1F4E9C}
    
    .search_area .search_ul		 {padding: 12px 0 0 17%;}
    .search_area .search_ul li   {display:inline-block; margin-right:20px}
    .search_area .search_ul li a {font:400 17px/22px "Poppins", "Noto Sans KR", sans-serif; color:#72949b}
    .search_area .search_ul li a:hover {text-decoration:underline}
    
    .quick					{display:grid;grid-template-columns: repeat(3, 1fr); border-radius:15px; box-shadow: 0px 10px 20px 6px rgba(0,0,0,0.07);background: #fff;}
    .quick li a				{display:flex;font:400 18px/22px "Poppins", "Noto Sans KR", sans-serif;color:#111;width:100%;height:100%;position:relative;transition:all 0.2s;align-items: center;padding: 12% 5%;/* white-space: nowrap; */word-break: keep-all;}
    .quick li a::after		{display:inline-block; content:''; width:1px; height:60px; background:#eee; position:absolute; right:0; }
    .quick li a::before		{display:inline-block;content:'';width: 90px;height: 90px;background: url(../image/quick01.png)no-repeat 70% 50%;transition:all 0.2s;}
    .quick li a span.text	{display:block; font:300 15px/20px "Poppins", "Noto Sans KR", sans-serif;color:#888;word-break: keep-all;}
    .quick li:nth-child(-n+3) a			{border-bottom:1px solid #eee;}
    .quick li:nth-child(3n) a::after	{display:none}
    
    .quick li:nth-child(2) a:before {background:url(../image/quick02.png)no-repeat 50% 50%}
    .quick li:nth-child(3) a:before {background:url(../image/quick03.png)no-repeat 50% 50%}
    .quick li:nth-child(4) a:before {background:url(../image/quick04.png)no-repeat 65% 50%;}
    .quick li:nth-child(5) a:before {background:url(../image/quick05.png)no-repeat 50% 50%}
    .quick li:nth-child(6) a:before {background:url(../image/quick06.png)no-repeat 50% 50%} 
    .quick li a:hover				{color: #1F4E9C;background-color: #edf3fc;}
    .quick li a:hover:before		{background-position-y:38%;}
    .quick li a:hover span.text		{color:#1F4E9C}
}