@charset "UTF-8";

* {
    margin: 0;
    box-sizing: border-box;
}

.div {
    display: block;
    unicode-bidi: isolate;
    vertical-align: relative;
}

.mainsearch {
    -webkit-font-smoothing: antialiased;
}

.total .search_box {
    background: #fff;
    box-shadow: 0 5px 9px 0px rgba(0, 0, 0, 0.1);
    padding: 25px 35px 15px;
    border-radius: 10px;
    border-top: none;
    z-index: 1;
    margin: -10px 0 0 0;
}

.search_box {
    position: relative;
}

input {
    border: 0;
    padding: 0;
    background: transparent;
    appearance: none;
    -webkit-border-radius: 0;
}

.search_box.ver02 .search {
    position: relative;
}

.search_box .search {
    font-size: 0;
    display: flex;
}

.search_box.ver02 .search::after {
    display: inline-block;
    content: '';
    width: 1px;
    height: 30px;
    background: #dedede;
    position: absolute;
    top: 50%;
    left: 191px;
    transform: translateY(-50%);
}

.search_box.ver02 .search select {
    height: 65px;
    min-width: 190px;
    font: 400 16px / 25px;
    padding: 0 30px;
    color: #444;
    background: #1f4e9c url(/image/select-arrow.svg);
    border: 1px solid #ddd;
    border-right: 1px solid #f6f6f6;
}

select {
    width: 100px;
    cursor: pointer;
}

.search_box.ver02 .search input[type="text"] {
    border-left: 1px solid #f6f6f6;
    width: calc(100% - 320px);
    padding: 0 20px;
}

.search_box .search input[type="text"] {
    background: #f6f6f6;
    height: 65px;
    font: 400 16px / 26px;
    color: #888;
    border: 1px solid #ddd;
    transition: all 0.2s;
}

.se_btn {
    display: flex;
    align-items: center;
}

.search_box .search .search_btn {
    display: inline-block;
    background: #1f4e9c url(/image/search_btn.png) no-repeat 50% 50%;
    width: 65px;
    height: 65px;
    transition: all 0.2s;
}

a:link {
    text-decoration: none;
}

.map_cont.total {
    margin-top: 0;
    display: block;
    min-height: 243px;
}

.map_cont {
    max-width: 1380px;
    margin: 60px auto 0;
    padding: 0px 40px 0px;
    position: relative;
    display: flex;
    word-break: keep-all;
}

#contents.map_view {
    max-width: 100%;
    min-height: auto;
    padding-bottom: 30px;
    position: relative;
}

.total .bbs_num b {
    color: #1f4e9c;
}

b {
    font-weight: bold;
}

.total .bbs_num span {
    display: inline-block;
    padding: 3px 10px;
    margin: 0 2px 10px 2px;
    border-radius: 50px;
    color: #fff;
    background: #1f4e9c;
    font: 300 14px / 20px;
}

.total .h4_flex {
    justify-content: initial;
    margin-top: 60px;
}

.h4_flex {
    margin: 60px 0 0px;
    display: flex;
    align-items: center;
}

.tit-type2 {
    margin: 0 0 0.8rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--black2);
    line-height: 1.2;
}

h3 {
    font: 500 22px / 22px;
    color: #222;
    background: url(/image/arrow_right.png) no-repeat 0% 5px;
    padding-left: 22px;
    margin: 60px 0 20px;
}

.total p.data_text {
    float: left;
    margin-top: 8px;
    padding-left: 10px;
    color: #666;
}

.total p.data_text span {
    color: #1f4e9c;
    font-weight: 400;
    margin-left: 5px;
}

ul.sear_list {
    width: 100%;
    border-top: 2px solid #333;
}

ul {
    list-style: none;
    margin: 0px 0px 0px 0px;
}

ul.sear_list > li {
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
}

ul.sear_list li .tit {
    vertical-align: top;
    margin-top: 5px;
    height: 26px;
}

ul.sear_list li .tit a {
    vertical-align: top;
    display: inline-block;
    height: 26px;
    font-size: 20px;
    font-weight: 600;
    color: #1F4E9C;
    max-width: 95%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

ul.sear_list li .text {
    margin-top: 5px;
    max-height: 48px;
    font-size: 17px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

ul.sear_list li .date {
    margin-top: 10px;
    font: 300 15px / 22px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #666;
}

ul.sear_list .nocont {
    padding: 30px 0;
    text-align: center;
    cursor: default;
    color: #888;
}

.search_area {
    margin-top: 10px;
}

.search_area > p {
    display: flex;
    align-items: center;
    position: relative;
    line-height: 1.3;
    max-width: 700px;
    margin: 0 auto;
}

.sel {
    font-size: 16px;
    color: #444;
    height: 66px;
    padding: 0 10px 0 18px;
    border: 2px solid #1F4E9C;
    border-right: none;
    border-radius: 5px 0 0 5px;
    line-height: 66px;
}

.search_area > p input {
    height: 66px;
    border: 2px solid #1F4E9C;
    background: #fff;
    border-radius: 0 5px 5px 0;
    padding: 0 25px;
    font-size: 0.9rem;
    width: 100%;
    color: #444;
}

.search_area > p a {
    display: inline-block;
    background: #1F4E9C url(/image/search_btn.png) no-repeat 50% 50%;
    width: 65px;
    height: 66px;
    transition: all 0.2s;
    font-size: 0;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 5px 5px 0;
}