@charset "UTF-8";

/* Common - 로그인 */
.login-wrap {
    max-width: 24rem;
    margin: 0 auto;
}
.login-wrap .form-area {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
}
.login-wrap .form-area .input {
    flex-basis: 2.5rem;
}
.login-wrap .form-area + .form-area {
    margin-top: 0.4rem;
}
.login-wrap .form-area .unit {
    margin-bottom: 0.2rem;
}
.login-wrap .btn:not(.sm.info) { /* 수정 - 로그인 버튼 흐림 */
    width: 100%;
    transition: opacity 0.3s;
}
.login-wrap .btn:not(.sm.info):hover { /* 수정 - 로그인 버튼 흐림 */
    opacity: 0.8;
}
.login-wrap .join-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.2rem;
    padding: 1.2rem;
    border-radius: 0.6rem;
    background-color: var(--gray8);
}
.login-wrap .join-area .txt {
    color: var(--black3);
    letter-spacing: -0.04em;
}
.login-wrap.find .form-area + .form-area {
    margin-top: 0.6rem;
}
.login-wrap.find .btn:not(.sm.info) {
    margin-top: 2rem;
}

/* Common - 회원가입 */
.join-wrap {
    max-width: 36rem;
    margin: var(--margin--auto);
}
.join-wrap .txt-sub {
    margin-bottom: 1.2rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
}
.join-wrap .txt-info {
    margin-bottom: 1.6rem;
    color: var(--gray2);
    line-height: 1.3;
    text-align: center;
}
.join-wrap .txt-info .sub {
    display: block;
    margin-top: 0.3rem;
    font-size: 0.8rem;
}
.join-wrap .txt-info .link {
    text-decoration: underline;
}
.join-finish {
    max-width: 24rem;
    margin: var(--margin--auto);
    text-align: center;
}
.join-finish .txt-tit {
    margin-bottom: 0.8rem;
    padding-top: 1.5rem;  /* 수정함 */
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--black2);
}
.join-finish .txt-tit::before {
    content: "";
    display: block;
    width: 4.5rem;
    height: 4.5rem;
    margin: var(--margin--auto) 1.6rem;
    background: url(/image/ico_txt_check.svg) no-repeat 0 0 / 100%; 
}
.join-form dt {
    margin: 1.5rem 0 0.4rem;
    color: var(--black3);
    transition: var(--transition);
}
.join-form dt:first-child {
    margin-top: 1.2rem;
}

.join-form .form-area.email + .check-area {
    margin-top: 0.6rem;
}

/* 상담페이지 상담리스트 */
.c-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 12rem));
    align-items: start;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 1rem;
    transition: var(--transition);
}
.c-list > li {
    position: relative;
}
.c-list .link {
    display: block;
    position: relative;
}
.c-list .img {
    position: relative;
    z-index: 5;
    border-radius: 1rem;
    overflow: hidden;
}
.c-list .con {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;
    z-index: 5;
}
.c-list .tit {
    margin-bottom: 0.4rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
    line-height: 1.2;
}
.c-list .txt {
    font-size: 0.8rem;
    color: var(--white);
}

/* Common - Swiper */
.swiper.tab .swiper-wrapper {
    justify-content: center;
}
.swiper.tab .swiper-slide {
    width: auto;
    padding: 0 1.6rem;
}
.swiper.tab .swiper-slide .txt {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 2.7rem;
    padding: 0 0.4rem;
    font-size: 0.9rem;
    color: #8794a7;
    white-space: nowrap;
    transition: color ease .3s, width ease 1s, font-size ease .5s;
}
.swiper.tab .swiper-slide.current .txt {
    font-weight: 700;
    color: var(--blue2);
}
.swiper.tab .swiper-slide.current .txt::before {
    content:"";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    height: 2px;
    background-color: var(--blue2);
}
.swiper.tab .swiper-button-next {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 1rem;
    height: 2.7rem;
    margin-top: 0;
    opacity: 1;
    background:linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255,1) 30%, rgba(255, 255, 255, 0));
}
.swiper.tab .swiper-button-next::after {
    display: none;
}
.swiper.tab .swiper-button-lock {
    display: block;
}
.swiper.tab .swiper-button-next.swiper-button-disabled {
    display: none;
}
.swiper.tab.type1 {
    padding: 0;
}
.search-area + .swiper.tab.type1 {
    margin-top: 0.8rem;
}
.swiper.tab.type1::after {
    display: none;
}
.swiper.tab.type1 .swiper-wrapper {
    justify-content: flex-start;
}
.swiper.tab.type1 .swiper-button-lock {
    display: none;
}
.swiper.tab.type1 .swiper-slide {
    flex: 1;
    height: 3.1rem;
    border: 1px solid var(--gray5);
    border-right: 0;
    background-color: var(--gray7);
    color: var(--gray2);
}
.swiper.tab.type1 .swiper-slide:last-child {
    border-right: 1px solid var(--gray5);
}
.swiper.tab.type1 .swiper-slide .txt {
    width: 100%;
    height: 100%;
    line-height: 1;
}
.swiper.tab.type1 .swiper-slide.current::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    height: auto;
    background-color: #1F4E9C;
}
.swiper.tab.type1 .swiper-slide.current .txt {
    z-index: 2;
    color: var(--white);
}
.swiper.tab.type1 .swiper-slide.current .txt::before {
    display: none;
}
.slide-prev {
    left: var(--swiper-navigation-sides-offset,0.5rem);
    right: auto;
}
.slide-next {
    right: var(--swiper-navigation-sides-offset,0.5rem);
    left: auto;
}
.slide-next.swiper-button-disabled, 
.slide-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none;
}

/* 학술 사이트 8개 */
.academic-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 12rem));
    align-items: start;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 1rem;
    transition: var(--transition);
}

/* 상담 6개 */
.counsel-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(12rem, 12rem)); /* 3개의 열 */
    grid-template-rows: repeat(2, auto);   /* 2개의 행 */
    align-items: start;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 1rem;
    transition: var(--transition);
}

/* 회원 정보 수정 */

.myinfo-wrap {
    display: flex;
    gap: 4rem;
    padding: 1.2rem 0;
    border-top: 2px solid var(--black3);
    border-bottom: 1px solid var(--gray5);
}
.myinfo-wrap .join-form {
    flex: 1;
}
.myinfo-wrap .join-form dt:first-child {
    margin-top: 0;
}
.myinfo-wrap .join-form .check-area .check-con {
    margin-top: 0;
}
.photo-modify {
    flex: 0 0 12rem;
}
.photo-modify .img {
    overflow: hidden;
    border-radius: 1.5rem;
    box-shadow: 0 0.55rem 1rem -0.3rem rgba(0,0,0,0.32);
}
.photo-modify .name-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
    padding: 1rem 0;
    font-size: 1rem;
    color: var(--black3);
    text-align: center;
}
.photo-modify .name-area .name {
    font-weight: 700;
}
.photo-modify .txt-list {
    margin-top: 1rem;
}
.photo-modify .form-area.file .file-name {
    display: none;
}
.photo-modify .form-area.file .btn {
    flex-basis: 100%;
}

/* 회원가입 Form */
.select {
    height: 2.5rem;
    padding: 0 2.2rem 0 0.8rem;
    border: 1px solid var(--gray4);
    border-radius: 0.4rem;
    background: url(/image/select-arrow.svg) no-repeat right 0.6rem top 50% var(--white);
    font-size: 0.8rem;
    color: var(--gray3);
    line-height: 2rem;
}

/* 검색바 형식 */
.form-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.4rem;
    position: relative;
    width: 100%;
}
.form-area .input {
    flex: 1;
    width: 100%;
    height: 2.5rem;
    padding: 0 0.6rem 0 0.8rem;
    border: 1px solid var(--gray4);
    border-radius: 0.5rem;
    font-size: 0.8rem;
    color: var(--black3);
}
.form-area .input::placeholder,
.form-area .input::-webkit-input-placeholder {
    font-size: 0.8rem;
    color: var(--gray3);
    letter-spacing: -0.04em;
}
.form-area .input:focus {
    border: 1px solid var(--blue2); 
    outline: 1px solid var(--blue2);
    box-shadow: var(--boxshadow1);
}
.form-area .input.focused {
    border-color: var(--black3);
    color: var(--black3);
}
.form-area .input:read-only {
    border-color: var(--gray5);
    background-color: var(--gray7);
    color: var(--gray3);
}
.form-area .input:read-only:focus {
    border-color: var(--gray5);
    outline: 0;
    box-shadow: none;
}

.form-area .textarea {
    flex: 1;
    width: 100%;
    min-height: 6rem;
    padding: 1rem;
    border: 1px solid var(--gray4);
    border-radius: 0.5rem;
    font-size: 0.8rem;
    color: var(--black3);
    resize: none;
}
.form-area .textarea::placeholder,
.form-area .textarea::-webkit-input-placeholder {
    font-size: 0.8rem;
    color: var(--gray3);
    letter-spacing: -0.04em;
}
.form-area .textarea:focus {
    border: 1px solid var(--blue2); 
    outline: 1px solid var(--blue2);
    box-shadow: var(--boxshadow1);
}
.form-area .textarea.focused {
    border-color: var(--black3);
    color: var(--black3);
}
.form-area .textarea:read-only {
    border-color: var(--gray5);
    background-color: var(--gray7);
    color: var(--gray3);
}
.form-area .textarea:read-only:focus {
    border-color: var(--gray5);
    outline: 0;
    box-shadow: none;
}
.form-area .textarea::-webkit-scrollbar {
    width: 0.65rem;
}
.form-area .textarea::-webkit-scrollbar-thumb {
    background-color: var(--gray4);
    border-radius: 0.65rem;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.form-area .textarea::-webkit-scrollbar-track {
    background-color: transparent;
}

.form-area .select {
    flex: 1;
    padding: 0 0.6rem 0 0.8rem;
}
.form-area .select:focus {
    outline: 0;
    border-color: var(--gray1);
}
.form-area .error {
    margin-bottom: 0.2rem;
    font-size: 0.7rem;
    color: var(--red1);
    line-height: 1.35;
}
.form-area .unit {
    width: 100%;
    font-size: 0.7rem;
    color: var(--gray1);
    line-height: 1.35;
}
.form-area .btn {
    flex-basis: 5.8rem;
    min-width: 5.8rem;
    height: 2.5rem;
    font-size: 0.8rem;
}
.form-area.email {
    flex-wrap: wrap;
}
.form-area.address {
    flex-wrap: wrap;
}
.form-area.address .detail {
    flex: 0 0 100%;
}
.form-area.file .input:read-only {
    border-color: var(--gray4);
    background-color: var(--white);
    color: var(--black3);
}
.form-area.file input[type="file"]{
    position:absolute;
    width:1px;
    height:1px;
    margin:-1px;
    padding:0;
    overflow:hidden;
    clip:rect(0,0,0,0);
    border:0
}
.form-area .calender-area {
    flex: 1;
    position: relative;
}

/* 검색바 라인 전체 */
.search-area {
    display: flex;
    justify-content: center;
    padding: 1rem 0 1.2rem;
}
.search-area .form-area {
    max-width: 31.25rem;
    gap: 0.75rem;
}
.search-area .select {
    flex: 0 0 7.5rem;
}
.search-area .btn {
    min-width: 7.25rem;
}

/* 취업로드맵 시각화 */
#careerMap {
    height: 600px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border: 2px solid #474e58; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

/* 내부 SVG를 부모에 맞게 절대 위치로 배치 */
#careerMap svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: visible; /* 그래픽 요소 잘림 방지*/
    pointer-events: all; /* 상호작용 가능 */
}
    
.line {
    stroke: #aaa;
    stroke-width: 2;
}

/* 가이드북 */
.guide_guide {
    border-radius: 30px;
    margin-bottom: 90px;
    border: 1px solid #cbe4e9;
    position: relative;
}
  
.contentg {
    max-width: var(--conwidth);
    margin: var(--margin--auto);
    padding: 3rem 20px;
}
  
.contg {
    color: #444;
    overflow: hidden;
}
  
.guide_guide p {
    padding: 20px 180px 20px 30px;
    border-radius: 30px 30px 0px 0;
    background-color: #eefcff;
    font-weight: bold;
}
  
.guide_guide ul {
    padding: 25px 25px 25px 25px;
    background-color: #fff;
    border-radius: 0 0 30px 30px;
}
  
.guide_guide li {
    padding-left: 10px;
    word-break: keep-all;
    line-height: 35px;
}