    <!-- footer 시작 -->
    <footer id="footer" class="footer">
        <div class="util-wrap">
            <div class="info-menu">
                <img src="/image/DJ_logo_clear.png" class="clearlogo" alt="footer 투명 로고">
                <span class="txt">제작자</span>
                <span class="txt">김명진 이가은 최소현 최재원</span>
            </div>
        </div>
        <p class="copyright">
            COPYRIGHTS 2024 K.L.C.C ALL RIGHTS RESERVED.
        </p>
    </footer>
<!-- footer 끝 -->

    </div>
</body>
</html>