<footer id="footer" class="footer">
    <div class="util-wrap">
        <div class="info-menu">
            <span class="txt">대한민국</span>
            <span class="txt">만든이: 김명진 이가은 최소현 최재원</span>
        </div>
    </div>
    <p class="copyright">
        COPYRIGHTS 2024 K.L.C.C ALL RIGHTS RESERVED.
    </p>
</footer>
</body>
</html>
