<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/image/pavi.png">
    <link rel="icon" type="image/svg+xml" href="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/home/common.css">
    <link rel="stylesheet" type="text/css" href="../css/home/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/home/main.css">
    <link rel="stylesheet" type="text/css" href="../css/home/sub.css">
    <link rel="stylesheet" href="../css/home/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="../css/home/calendar.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="../js/home/editProfile.js" defer></script>
    <script src="../js/home/jquery.min.js" defer></script>
    <script src="../js/home/common.js" defer></script>
    <script src="../js/home/swiper-bundle.min.js" defer></script>
    <script src="../js/home/session.js" defer></script>
    <script src="../js/home/auth.js" defer></script>
    <script src="../js/home/calendar.js"defer></script>
    <script src="../js/home/d3.v6.min.js" defer></script>
    <script src="../js/home/careerMap.js" defer></script>

    <title><%= title %></title>
</head>
<aside id="following-content" class="following" style="top: 150px;">
    <ul>
        <li style="list-style: none;">
            <a href="#" style="width: 100px;">연계사이트</a>
        </li>   
        <li style="list-style: none;">
            <a id="a1" href="https://www.daejin.ac.kr/daejin/index.do" target="_blank" style="width: 100px;">
                대진대학교
            </a>
        </li>
        <li style="list-style: none;">
            <a id="a2" href="https://library.daejin.ac.kr/main_main.mir" target="_blank" style="width: 100px;">
                중앙도서관
            </a>
        </li>
        <li style="list-style: none;">
            <a id="a3" href="https://job.daejin.ac.kr/clientMain/a/t/main.do" target="_blank" style="width: 100px;">
                취업지원센터
            </a>
        </li>
        <li style="list-style: none;">
            <a id="a4" href="https://together.daejin.ac.kr/clientMain/a/t/main.do" target="_blank" style="width: 100px;">
                트윈
            </a>
        </li>
        <li style="list-style: none;">
            <a id="a5" href="https://www.work24.go.kr/cm/main.do" target="_blank" style="width: 100px;">
                고용 24
            </a>
        </li>
        <li style="list-style: none;">
            <a id="a6" href="https://lms.jobaba.net/gjf/home.do?callback=empty" target="_blank" style="width: 100px;">
                잡아바 러닝센터
            </a>
        </li>
    <li class="close">
    <a id="toggle-button" href="javascript:void(0);" onclick="toggleContent();" style="width: 100px;">닫힘</a>
    </li>
    </ul>
</aside>
<body class="daejin-on-infomation">
    <header id="header" class="header">
        <div class="top-wrap">
            <div class="flex-fs">
                <button type="button" class="all-menu"><span class="hidden">전체메뉴</span></button>
                <a href="/" class="home-logo">
                    <img src="/image/DJ_logo.png" alt="대진On정보">
                </a>
                <!-- 네비시작 -->
                <nav class="gnb-wrap">
                    <div class="flex-sb">
                        <ul class="gnb-menu">
                        <li>
                            <a href="/employment_info" class="depth1 hover">
                                <strong class="left_title_strong">
                                    <strong class="top_title_strong">취업정보</strong>
                                </strong></a>
                            <ul class="sub-list" style="display: none;">
                                <li><a href="/employment_info" class="depth2"> 취업사이트</a></li>
                                <li><a href="/careerMap" class="depth2"> 취업로드맵</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/research_info" class="depth1">
                                <strong class="left_title_strong">
                                    <strong class="top_title_strong">연구정보</strong>
                                </strong></a>
                            <ul class="sub-list" style="display: none;">
                                <li><a href="/research_info" class="depth2"> 공모전일정 </a></li>
                                <li><a href="/research_info" class="depth2"> 학회일정 </a></li>
                                <li><a href="/academic" class="depth2"> 학술사이트 </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/document" class="depth1">
                                <strong class="left_title_strong">
                                    <strong class="top_title_strong">커뮤니티</strong>
                                </strong></a>
                            <ul class="sub-list" style="display: none;">
                                <li><a href="/document" class="depth2"> 자료실 </a></li>
                                <li><a href="/share" class="depth2"> 주제공유 </a></li>
                                <li><a href="/community" class="depth2"> 자유게시판 </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/job_pre" class="depth1">
                                <strong class="left_title_strong">
                                    <strong class="top_title_strong">취업준비</strong>
                                </strong></a>
                            <ul class="sub-list" style="display: none;">
                                <li><a href="/job_pre" class="depth2"> 상담 </a></li>
                                <li><a href="/test" class="depth2"> 검사 </a></li>
                            </ul>
                        </li>
                        </ul>
                    </div>
                </nav>
                <!-- 네비 끝 -->
                <div class="gnb-bg" style="display: none;">
                    <div class="flex-sb">
                        <p class="txt-info"><strong class="stress2"></strong></p>
                        <ul class="mypage-menu">
                            <li>
                                <a href="/mypage" class="depth1">마이페이지</a>
                                <ul class="">
                                    <li><a href="/mypage" class="depth2">학습 진척도 </a></li>
                                    <li><a href="/myposts" class="depth2">나의 기록</a></li>
                                    <li><a href="/editprofile" class="depth2">내 정보 수정 </a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                    <!-- 로그인 상태에 따른 로그인/로그아웃 버튼 -->
                    <ul class="util-menu">
                    <% if (isLoggedIn) { %>
                        <li class="logout"><a href="/logout" class="btn sm">로그아웃</a></li>
                    <% } else { %>
                        <li class="login"><a href="/login" class="btn sm">로그인</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </header>
