<%- include('../partials/header', { title: '대진 On 정보-학술' }) %>

<!-- 메인 컨텐츠 -->
<main id="container" class="container">
                <section id="content" class="content">
                    <header class="tit-area">
                        <h1 class="tit-type1">연구정보</h1>
                    </header>
                    <div class="swiper tab type1 swiper-initialized swiper-horizontal swiper-free-mode swiper-backface-hidden">
                        <div class="swiper-wrapper">
                        <a href="/research_info" class="swiper-slide"><span class="txt">공모전 일정</span></a>
                        <a href="/academic" class="swiper-slide current swiper-slide-active"><span class="txt">학술사이트</span></a>
                        </div>
                        <div class="swiper-button-next swiper-button-disabled swiper-button-lock"></div>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
            <div class="tab-con on">
                <ul class="c-list academic-list">
                    <li>
                        <a href="https://dl.nanet.go.kr/index.do" class="plus center" target="_blank">
                            <figure class="img">
                                <img src="/image/academic.png" alt="국회전자도서관">
                            </figure>
                            <div class="con">
                                <h2 class="tit">국회<br>전자 도서관</h2>
                                <p class="txt">#디지털 원문</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.nrf.re.kr/index" class="plus center" target="_blank">
                            <figure class="img">
                                <img src="/image/academic.png" alt="한국연구재단">
                            </figure>
                            <div class="con">
                                <h2 class="tit">NRF<br>한국연구재단</h2>
                                <p class="txt">#국내 학술지정보</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://scholar.google.co.kr/schhp?hl=ko" class="plus center" target="_blank">
                            <figure class="img">
                                <img src="/image/academic.png" alt="구글 학술 검색">
                            </figure>
                            <div class="con">
                                <h2 class="tit">Google<br>학술 검색</h2>
                                <p class="txt">#학술 검색 엔진</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.kssn.net/index.do" class="plus center" target="_blank">
                            <figure class="img">
                                <img src="/image/academic.png" alt="한국표준 정보망">
                            </figure>
                            <div class="con">
                                <h2 class="tit">KSSN</h2>
                                <p class="txt">#한국 표준 정보망<br>#표준 정보 전문 플랫폼</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://kiss.kstudy.com/" class="plus center" target="_blank">
                            <figure class="img">
                                <img src="/image/academic.png" alt="KISS">
                            </figure>
                            <div class="con">
                                <h2 class="tit">KISS</h2>
                                <p class="txt">#학술 논문 검색<br>#한국 학술 정보</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.dbpia.co.kr/" class="plus center" target="_blank">
                            <figure class="img">
                                <img src="/image/academic.png" alt="DBpia">
                            </figure>
                            <div class="con">
                                <h2 class="tit">DBpia</h2>
                                <p class="txt">#국내 학술 저널<br>#한국 연구자 맞춤</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://scienceon.kisti.re.kr/main/mainForm.do" class="plus center" target="_blank">
                            <figure class="img">
                                <img src="/image/academic.png" alt="SCIENCE ON">
                            </figure>
                            <div class="con">
                                <h2 class="tit">SCIENCE ON</h2>
                                <p class="txt">#한국 과학기술 정보<br>#과학기술 지식 인프라</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.riss.kr/index.do" class="plus center" target="_blank">
                            <figure class="img">
                                <img src="/image/academic.png" alt="RISS">
                            </figure>
                            <div class="con">
                                <h2 class="tit">RISS</h2>
                                <p class="txt">#한국 교육 학술 정보원<br>#학술 연구 정보 서비스</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </section>
</main>


<%- include('../partials/footer') %>
