<%- include('../partials/header', { title: '대진 On 정보-취업로드맵' }) %>

<main id="container" class="container">
    <section id="content" class="content">
        <header class="tit-area">
            <h1 class="tit-type1">취업정보</h1>
        </header>
        
        <div class="swiper tab type1 swiper-initialized swiper-horizontal swiper-free-mode swiper-backface-hidden">
            <div class="swiper-wrapper">
                <a href="/employment_info" class="swiper-slide"><span class="txt">취업사이트</span></a>
                <a href="/careerMap" class="swiper-slide current swiper-slide-active"><span class="txt">취업로드맵</span></a>
                <a href="/sbn" class="swiper-slide"><span class="txt">취업 현황</span></a>
                <a href="/recruit" class="swiper-slide"><span class="txt">취업 정보</span></a>
            </div>
            <div class="swiper-button-next swiper-button-disabled swiper-button-lock"></div>
        </div>
        
        <h3 class="tit-type2">Career Map</h3>
        <ul class="custom-list">
            <li class="c1"><a>: 직업</a></li>
            <li class="c2"><a>: 추천 자격증</a></li>
            <li class="c3"><a>: 필수 스킬</a></li>
            <li class="c4"><a>: 전공 강의</a></li>
        <p>&nbsp;</p>
        </ul>   
        <div id="careerMap"></div><!-- 시각화 자료가 들어갈 부분 -->
    </section>
</main>

<%- include('../partials/footer') %>