<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/home/common.css">
    <link rel="stylesheet" type="text/css" href="../css/home/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/home/main.css">
    <link rel="stylesheet" type="text/css" href="../css/home/sub.css">
    <link rel="stylesheet" href="../css/home/swiper-bundle.min.css">

    <script src="../js/home/jquery.min.js"></script>
    <script src="../js/home/common.js"></script>
    <script src="../js/home/swiper-bundle.min.js"></script>
    <script src="../js/home/session.js" defer></script>
    <script src="../js/home/toggleContent.js" defer></script>
    <script src="../js/home/register.js" defer></script>
    <title>커뮤니티 - 대진on정보</title>
</head>

<body class="kbs-sports vsc-initialized">
    <div class="wrap">
        
        <header id="header" class="header">
            <div class="top-wrap">
                <div class="flex-fs">
                    <button type="button" class="all-menu"><span class="hidden">전체메뉴</span></button>
                    <a href="/" class="home-logo">대진 On 정보</a>

                    <!-- 네비시작 -->
                    <nav class="gnb-wrap">
                        <div class="flex-sb">
                            <ul class="gnb-menu">
                            <li>
                                <a href="/employment_info" class="depth1 hover">
                                    <strong class="left_title_strong">
                                        <strong class="top_title_strong">취업정보</strong>
                                    </strong></a>
                                <ul class="sub-list" style="display: none;">
                                    <li><a href="employment_info.html" class="depth2"> 취업사이트</a></li>
                                    <li><a href="careerMap.html" class="depth2"> 취업로드맵</a></li>
                                    <li><a href="noticeList.do" class="depth2"> 취업지원 </a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/reseach_info" class="depth1">
                                    <strong class="left_title_strong">
                                        <strong class="top_title_strong">연구정보</strong>
                                    </strong></a>
                                <ul class="sub-list" style="display: none;">
                                    <li><a href="/spwd/CourseInfo/getCntrCnts.do?fclt_code=SPWD&amp;cnts_clss=CNTS&amp;cnts_type=USED" class="depth2"> 학회일정 </a></li>
                                    <li><a href="/notice/noticeList.do" class="depth2"> 공모전일정 </a></li>
                                    <li><a href="/spwd/CourseInfo/courseRegistrationView.do" class="depth2"> 학술사이트 </a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/community" class="depth1">
                                    <strong class="left_title_strong">
                                        <strong class="top_title_strong">커뮤니티</strong>
                                    </strong></a>
                                <ul class="sub-list" style="display: none;">
                                    <li><a href="faq.html" class="depth2"> FAQ </a></li>
                                    <li><a href="notice.html" class="depth2"> 공지사항 </a></li>
                                    <li><a href="document.html" class="depth2"> 자료실 </a></li>
                                    <li><a href="share.html" class="depth2"> 주제공유 </a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/job_pre" class="depth1">
                                    <strong class="left_title_strong">
                                        <strong class="top_title_strong">취업준비</strong>
                                    </strong></a>
                                <ul class="sub-list" style="display: none;">
                                    <li><a href="counsel.html" class="depth2"> 상담 </a></li>
                                    <li><a href="test.html" class="depth2"> 검사 </a></li>
                                </ul>
                            </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- 네비 끝 -->
                    <div class="gnb-bg" style="display: none;">
                        <div class="flex-sb">
                            <p class="txt-info"><strong class="stress2"></strong></p>
                            <ul class="mypage-menu">
                                <li>
                                    <a href="/util/myPage/currentSituation.do" class="depth1">마이페이지</a>
                                    <ul class="">
                                        <li><a href="/util/myPage/myInfoEdit.do" class="depth2">내정보 수정 </a></li>
                                        <li><a href="/util/myPage/currentSituation.do" class="depth2">목표리스트</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- 로그인 상태에 따른 로그인/로그아웃 버튼 -->
                    <ul class="util-menu">
                        <% if (isLoggedIn) { %>
                            <li class="logout"><a href="/logout" class="btn sm">로그아웃</a></li>
                        <% } else { %>
                            <li class="login"><a href="/login" class="btn sm">로그인</a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </header>

        <main id="container" class="container">
            <section id="content" class="content">
                <header class="tit-area">
                    <h1 class="tit-type1">커뮤니티</h1>
                </header>

                <div class="swiper tab type1">
                    <div class="swiper-wrapper">
                        <a href="/notice" class="swiper-slide current"><span class="txt">공지사항</span></a>
                        <a href="/resources" class="swiper-slide"><span class="txt">자료실</span></a>
                        <a href="/topic_share" class="swiper-slide"><span class="txt">주제공유</span></a>
                    </div>
                </div>

                <div class="search-area">
                    <fieldset class="form-area">
                        <legend>공지사항 검색어 입력</legend>
                        <select class="select" id="searchtype" name="searchtype">
                            <option value="CONTENT_TITLE" selected="selected">전체</option>
                            <option value="TITLE">제목</option>
                            <option value="CONTENT">내용</option>
                        </select>
                        <input type="text" class="input" id="searchtxt" name="searchtxt" placeholder="검색어 입력" onkeypress="if(event.key === 'Enter') { fncSearch(); }">
                        <button type="button" class="btn" onclick="fncSearch();">검색</button>
                    </fieldset>
                </div>

                <table class="board-list">
                    <caption>공지사항에 대한 번호, 제목, 등록일 안내 리스트입니다.</caption>
                    <thead>
                        <tr>
                            <th class="list-num">번호</th>
                            <th class="list-tit">제목</th>
                            <th class="list-date">등록일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (notices && notices.length > 0) { %>
                            <% notices.forEach((notice, index) => { %>
                                <tr>
                                    <td class="list-num"><%= index + 1 %></td>
                                    <td class="list-tit"><a href="<%= notice.url %>"><%= notice.title %></a></td>
                                    <td class="list-date"><%= notice.date %></td>
                                </tr>
                            <% }) %>
                        <% } else { %>
                            <tr>
                                <td colspan="3">공지사항이 없습니다.</td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </section>
        </main>

        <footer id="footer" class="footer">
            <div class="util-wrap">
                <div class="info-menu">
                    <span class="txt">대한민국</span>
                    <span class="txt">만든이: 김명진 이가은 최소현 최재원</span>
                </div>
            </div>
            <p class="copyright">
                COPYRIGHTS 2024 K.L.C.C ALL RIGHTS RESERVED.
            </p>
        </footer>
    </div>
</body>
</html>
