<%- include('../partials/header', { title: '대진 On 정보-가이드 북' }) %>

<main id="container" class="container">

    <section id="contentg" class="contentg">
        <div class="contg">
            <header class="tit-area">
                <h1 class="tit-type1">가이드 북</h1>
            </header>
            <div class="guide_guide">
                <p>
                    대진 On 정보 가이드 북
                </p>
                <ul class="dot_list">
                    <li>
                        대진 On 정보는 대진대학교 컴퓨터공학전공 학생들을 위한 종합 정보 공유 플랫폼입니다.
                        <br>
                        취업정보, 연구정보, 커뮤니티, 취업준비의 네 가지 카테고리로 나뉘어, 학생들이 여러 자료를 한눈에 파악할 수 있도록 구성되었습니다.
                        <br>
                        또한 공지사항, 자료실, 주제 공유 공간을 통해 다양한 아이디어를 교류할 수 있으며, 상담과 검사를 통해 취업 준비를 지원합니다.
                        <br>
                        이 페이지를 통해 컴퓨터공학 학생들이 더욱 풍부한 취업 정보와 연구 아이디어를 자유롭게 얻어갈 수 있기를 기대합니다.
                        <br>

                    </li>
                </ul>
            </div>
        </div>
    </section>

</main>

<%- include('../partials/footer') %>