<%- include('../partials/header', { title: '지식on대진' }) %>
    <!-- content -->
    <main id="container" class="container">
        <div class="mm con01">
			<div class="banner_wrap">
				<div class="swiper mySwiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<a href="https://kdata.or.kr/mydata/www/contents/introduction/view.do">
								<img src="image/img_1.jpg" alt="슬라이드 1" />
							</a>
						</div>
						<div class="swiper-slide">
							<a href="https://www.kdata.or.kr/mydata/www/contents/mydata_itr/view.do">
								<img src="image/img_2.jpg" alt="슬라이드 2" />
							</a>
						</div>
					</div>
					<!-- 페이지네이션 -->
					<div class="swiper-pagination"></div>
				</div>
			</div>
			
				<div class="search_area">
					<p>
						<span>SEARCH</span>
						<input type="text" placeholder="검색어를 입력하세요" id="searchKeyword" onkeyup="fnKeyUp();">
						<label for="searchKeyword">통합검색</label>
						<a href="javascript:search();" class="search_btn">검색</a>
					</p>
					<!-- <ul class="search_ul">
						<li><a href="javascript:keywordSearch('데이터');">#데이터</a></li>
						<li><a href="javascript:keywordSearch('API소재 정보');">#API소재 정보</a></li>
						<li><a href="javascript:keywordSearch('마이데이터');">#마이데이터</a></li>
						<li><a href="javascript:keywordSearch('활용제도');">#활용제도</a></li>
					</ul> -->
				</div><!-- //search_area -->
				<!-- 퀵메뉴 -->
				<ul class="quick">
					<li>
						<a href="">
							<span>
								<span class="tt">가이드북</span>
								<span class="text">대진On지식 활용법</span>
							</span>
						</a>
					</li>
					<li>
						<a href="careermap.ejs">
							<span>
								<span class="tt">CareeMap</span>
								<span class="text">취업 로드맵 제공</span>
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<span>
								<span class="tt">AI 학습플래너</span>
								<span class="text">AI가 도와주는 학습계획</span>
							</span>
						</a>
					</li>
					<li>
						<a href="employment_info">
							<span>
								<span class="tt">취업사이트</span>
								<span class="text">취업 관련 사이트</span>
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<span>
								<span class="tt">주제공유</span>
								<span class="text">학우들의 지식 공유</span>
							</span>
						</a>
					</li>
					<li>
						 <a href=""> 
							<span>
								<span class="tt">일정</span>
								<span class="text">학회,공모전 일정</span>
							</span>
						</a>
					</li>
				</ul>
				<!-- 퀵메뉴 끝 -->
		</div>
	</main>
    <!-- //content -->
	    
	<!--===================================bottom=start==========================-->

	<%- include('../partials/footer') %>
	<script src="../../public/js/home/session.js"></script>
	