<%- include('../partials/header', { title: '대진 On 정보-상담' }) %>

<main id="container" class="container">
    <section id="content" class="content">
        <header class="tit-area">
            <h1 class="tit-type1">취업준비</h1>
        </header>

        <div class="swiper tab type1">
            <div class="swiper-wrapper">
                <a href="/job_preparation" class="swiper-slide current"><span class="txt">상담</span></a>
                <a href="/test" class="swiper-slide"><span class="txt">검사</span></a>
            </div>
        </div>

        <br><br>

        <div class="tab-con on">
            <ul class="sports-list counsel-list">
                <li>
                    <a href="https://job.daejin.ac.kr/clientMain/a/t/main.do" class="plus center" target="_blank">
                        <figure class="img">
                            <img src="/image/counselbg.png" alt="대진대취업지원">
                        </figure>
                        <div class="con">
                            <h2 class="tit">대학 일자리<br>플러스센터</h2>
                            <p class="txt">#대진대학교</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youthcenter.go.kr/jobConslt/jobConsltMain.do" class="plus center" target="_blank">
                        <figure class="img">
                            <img src="image/counselbg.png" alt="온통청년">
                        </figure>
                        <div class="con">
                            <h2 class="tit">온통청년<br>청년상담실</h2>
                            <p class="txt">#청년 정책 안내</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.jobaba.net/psychology/mainList.do" class="plus center" target="_blank">
                        <figure class="img">
                            <img src="image/counselbg.png" alt="잡아바">
                        </figure>
                        <div class="con">
                            <h2 class="tit">잡아바<br>취업 상담</h2>
                            <p class="txt">#진로 취업 컨설팅</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.career.go.kr/cnet/front/counsel/counselMain.do" class="plus center" target="_blank">
                        <figure class="img">
                            <img src="image/counselbg.png" alt="커리어넷">
                        </figure>
                        <div class="con">
                            <h2 class="tit">커리어넷<br>진로 상담</h2>
                            <p class="txt">#진로 고민 상담</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.dream.go.kr/dream/index.do#" class="plus center" target="_blank">
                        <figure class="img">
                            <img src="image/counselbg.png" alt="꿈 날개">
                        </figure>
                        <div class="con">
                            <h2 class="tit">꿈 날개<br>취업 상담</h2>
                            <p class="txt">#경력 개발 센터</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.worldjob.or.kr/new_index.do" class="plus center" target="_blank">
                        <figure class="img">
                            <img src="image/counselbg.png" alt="월드잡플러스">
                        </figure>
                        <div class="con">
                            <h2 class="tit">월드잡플러스<br>해외 취업</h2>
                            <p class="txt">#해외 취업 상담</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</main>

<%- include('../partials/footer') %>
