<%- include('../partials/header', { title: '로그인 - 대진on정보' }) %>

<main id="container" class="container">
    <form name="loginForm" id="loginForm" class="login-form">
        <section id="content" class="content">
            <header class="tit-area">
                <h1 class="tit-type1">로그인</h1>
            </header>
            <section class="login-wrap">
                <fieldset>
                    <legend>로그인 정보</legend>
                    <div class="form-area">
                        <input id="id" type="text" class="input" name="id" title="아이디 입력" placeholder="아이디를 입력해주세요.">
                        <p class="error" style="display:none;">입력값을 확인해주세요</p> <!-- 오류 메시지 -->
                    </div>
                    <div class="form-area">
                        <input id="psword" type="password" class="input" name="password" onkeypress="fn_enter_key_in(event)" title="비밀번호 입력" placeholder="비밀번호를 입력해주세요.">
                    </div>
                    <div class="check-area">
                        <span class="check-con">
                            <input type="checkbox" name="checkId" id="typeGender1" onclick="javascript:saveid(document.loginForm);">
                            <label for="typeGender1" class="txt">아이디저장</label>
                        </span>
                    </div>
                    <input id="btnLogin" type="button" class="btn" value="로그인">
                    <br><br><br>
                    <div class="join-area">
                        <p class="txt">아직 회원이 아니신가요?</p>
                        <a href="/register" class="btn sm info">회원가입</a>
                    </div>
                </fieldset>
            </section>
        </section>
    </form>
</main>

<%- include('../partials/footer') %>
