<%- include('../partials/header', { title: '대진 On 정보-마이페이지' }) %>

<main id="container" class="container">
    <section id="content" class="content">
        <header class="tit-area">
            <h1 class="tit-type1">마이페이지</h1>
        </header>
        <div class="swiper tab type1 swiper-initialized swiper-horizontal swiper-free-mode swiper-backface-hidden">
            <div class="swiper-wrapper">
                <a href="/mypage" class="swiper-slide current swiper-slide-active"><span class="txt">학습 진척도</span></a>
                <a href="/myposts" class="swiper-slide swiper-slide-next"><span class="txt">나의 기록</span></a>
                <a href="/editprofile" class="swiper-slide"><span class="txt">내 정보 수정</span></a>
            </div>
            <div class="swiper-button-next swiper-button-disabled swiper-button-lock"></div>
        </div>
        
    </section>
</main>

<%- include('../partials/footer') %>
