<%- include('../partials/header', { title: '대진 On 정보-회원가입' }) %>

<main id="container" class="container">
    <form id="frm" method="post" action="" enctype="multipart/form-data">

        <section id="content" class="content">
            <header class="tit-area">
                <h1 class="tit-type1">회원가입</h1>
            </header>

            <section class="join-wrap">
                <h2 class="tit-type3">개인정보입력</h2>
                <p class="tit-sub">회원가입을 위해 아래의 양식에 내용을 입력해주세요</p>
                <dl class="join-form">
                    <dt>이름(실명)</dt>
                    <dd>
                        <div class="form-area">
                            <input  id="name" type="text" class="input focused" title="이름 입력" placeholder="이름을 입력해주세요">
                        </div>
                    </dd>
<<<<<<< HEAD

                    <dt>학력</dt>
                    <dd>
                        <div class="form-area">
                            <select id="grade-select" class="select" title="학력 선택">
                                <option value="directly" selected="">선택</option>
                                <option value="1">1학년</option>
                                <option value="2">2학년</option>
                                <option value="3">3학년</option>
                                <option value="4">4학년</option>
                                <option value="대학원생">대학원생</option>
                            </select>
                        </div>
                    </dd>
                
                    <dt>아이디</dt>
                    <dd>
                        <div class="form-area">
                            <input id="id" type="text" class="input id-input" title="아이디 입력" placeholder="아이디 입력" autocomplete="new-password">
                            <button id="idchk" type="button" class="btn info">중복확인</button>
                        </div>
                    </dd>

                    <dt>비밀번호</dt>
                    <dd>
                        <div class="form-area">
                            <input type="password" class="input" title="비밀번호 입력" placeholder="비밀번호를 입력해주세요" id="psword" autocomplete="new-password">
                        </div>
                    </dd>

                    <dt>비밀번호 확인</dt>
                    <dd>
                        <div class="form-area">
                            <input type="password" class="input" title="비밀번호 확인 입력" placeholder="비밀번호를 다시 입력해주세요" id="confirm-psword" autocomplete="new-password">
                        </div>
                    </dd>

                    <dt>이메일</dt>
                    <dd>
                        <div class="form-area email">
                            <input id="emailId" type="text" class="input id" title="이메일 아이디 입력" placeholder="이메일 아이디">
                            <input id="domain" type="text" class="input address" title="이메일 주소 입력" value="@" placeholder="이메일 주소">
                            <select class="select" title="이메일 주소 선택" id="select">
                                <option value="directly" selected="">직접입력</option>
                                <option value="naver.com">naver.com</option>
                                <option value="daum.net">daum.net</option>
                                <option value="gmail.com">gmail.com</option>
                                <option value="nate.com">nate.com</option>
                            </select>
                        </div>
                    </dd>
                </dl>
                <div class="btn-area">
                    <button id="register" type="button" href="/welcome" class="btn btnj">회원가입</button>
                </div>

            </section>

        </section>
    </form>
</main>
=======
>>>>>>> 6aac471587796656bbbaa965576deaa846dd74c6

                    <dt>학력</dt>
                    <dd>
                        <div class="form-area">
                            <select id="grade-select" class="select" title="학력 선택">
                                <option value="directly" selected="">선택</option>
                                <option value="1">1학년</option>
                                <option value="2">2학년</option>
                                <option value="3">3학년</option>
                                <option value="4">4학년</option>
                                <option value="대학원생">대학원생</option>
                            </select>
                        </div>
                    </dd>
                
                    <dt>아이디</dt>
                    <dd>
                        <div class="form-area">
                            <input id="id" type="text" class="input id-input" title="아이디 입력" placeholder="아이디 입력" autocomplete="new-password">
                            <button id="idchk" type="button" class="btn info">중복확인</button>
                        </div>
                    </dd>

                    <dt>비밀번호</dt>
                    <dd>
                        <div class="form-area">
                            <input type="password" class="input" title="비밀번호 입력" placeholder="비밀번호를 입력해주세요" id="psword" autocomplete="new-password">
                        </div>
                    </dd>

                    <dt>비밀번호 확인</dt>
                    <dd>
                        <div class="form-area">
                            <input type="password" class="input" title="비밀번호 확인 입력" placeholder="비밀번호를 다시 입력해주세요" id="confirm-psword" autocomplete="new-password">
                        </div>
                    </dd>

                    <dt>이메일</dt>
                    <dd>
                        <div class="form-area email">
                            <input id="emailId" type="text" class="input id" title="이메일 아이디 입력" placeholder="이메일 아이디">
                            <input id="domain" type="text" class="input address" title="이메일 주소 입력" value="@" placeholder="이메일 주소">
                            <select class="select" title="이메일 주소 선택" id="select">
                                <option value="directly" selected="">직접입력</option>
                                <option value="naver.com">naver.com</option>
                                <option value="daum.net">daum.net</option>
                                <option value="gmail.com">gmail.com</option>
                                <option value="nate.com">nate.com</option>
                            </select>
                        </div>
                    </dd>
                </dl>
                <div class="btn-area">
                    <button id="register" type="button" href="/welcome" class="btn btnj">회원가입</button>
                </div>

            </section>

        </section>
    </form>
</main>

<%- include('../partials/footer') %>
