<%- include('../partials/header', { title: '대진 On 정보-연구 정보' }) %>

<main id="container" class="container">
    <section id="content" class="content">
        <header class="tit-area">
            <h1 class="tit-type1">연구정보</h1>
        </header>

        <div class="swiper tab type1">
            <div class="swiper-wrapper">
                <a href="/research_contest" class="swiper-slide current"><span class="txt">공모전 일정</span></a>
                <a href="" class="swiper-slide"><span class="txt">학회 일정</span></a>
                <a href="/academic" class="swiper-slide"><span class="txt">학술사이트</span></a>
            </div>
            <div class="swiper-button-next"></div>
        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <div class="wrapper">
            <header>
                <div class="nav">
                    <button id="prev" class="material-icons"> chevron_left </button>
                    <p class="current-date"></p>
                    <button id="next" class="material-icons"> chevron_right </button>
                </div>
            </header>
            <div class="calendar">
                <ul class="weeks">
                    <li>Sun</li>
                    <li>Mon</li>
                    <li>Tue</li>
                    <li>Wed</li>
                    <li>Thu</li>
                    <li>Fri</li>
                    <li>Sat</li>
                </ul>
                <ul class="days"></ul>
            </div>
        </div>

        <div class="contest-schedule-box">
            <h3>공모전 일정</h3>
            <table id="contestTable">
                <thead>
                    <tr>
                        <th>공모전 이름</th>
                        <th>시작일</th>
                        <th>종료일</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- API로부터 데이터를 받아 여기에 추가할 예정 -->
                </tbody>
            </table>
        </div>
    </section>
</main>

<%- include('../partials/footer') %>