<%- include('../partials/header', { title: '대진 On 정보-검사' }) %>

<main id="container" class="container">
                
    <section id="content" class="content">
        <header class="tit-area">
            <h1 class="tit-type1">취업준비</h1>
        </header>

        <div class="swiper tab type1 swiper-initialized swiper-horizontal swiper-free-mode swiper-backface-hidden">
            <div class="swiper-wrapper">
                <a href="/job_pre" class="swiper-slide swiper-slide-active">
                    <span class="txt">상담</span>
                </a>
                <a href="/test" class="swiper-slide current swiper-slide-next">
                    <span class="txt">검사</span>
                </a>
            </div>
            <div class="swiper-button-next swiper-button-disabled swiper-button-lock"></div>
        </div>

        <br>
        <br>
        
        <ul class="quick_list">
            <li class="notxt">
                <strong class="dot_tit">🔹고용 24</strong>
                <p>직업 선호도 검사 S형,직업 선호도 검사 L형, 구직준비도 검사, 창업 적성 검사, 직업 가치관 검사</p>
                <a href="https://www.work.go.kr/consltJobCarpa/jobPsyExamNew/jobPsyExamAdultList.do" target="_blank">바로가기</a>
            </li>
            <li>
                <strong class="dot_tit">🔹커리어넷 진로 심리검사</strong>
                <p>직업 적 성검사, 진로 성숙도 검사, 직업 흥미 검사(K, H)</p>
                <a href="https://www.career.go.kr/cnet/front/examen/examenMain.do#none" target="_blank">바로가기</a>
            </li>
            <li>
                <strong class="dot_tit">🔹꿈날개</strong>
                <p>취업 가능성 진단, 직업 선호도 검사, 직업 역량 진단, 창업 적성 검사</p>
                <a href="https://www.dream.go.kr/dream/diagMogefCenter/diagMogefCenterGuide.do" target="_blank">바로가기</a>
            </li>
            <li>
                <strong class="dot_tit">🔹잡다</strong>
                <p>JOBDA 역량 검사</p>
                <a href="https://www.jobda.im/acca/test" target="_blank">바로가기</a>
            </li>
            <li>
                <strong class="dot_tit">🔹잡아바</strong>
                <p>AI 역량 검사(성향 파악/영상 면접)</p>
                <a href="https://www.jobaba.net/interview/mainList.do" target="_blank">바로가기</a>
            </li>
        </ul>



    </section>
</main>
<%- include('../partials/footer') %>