<%- include('../partials/header', { title: '회원가입 완료 - 대진on정보' }) %>

            <main id="container" class="container">
                <section id="content" class="content">
                    <header class="tit-area">
                        <h1 class="tit-type1">통합 회원 가입</h1>
                        <p class="tit-info">대진 On 정보의 다양한 서비스를 이용하세요</p>
                    </header>
                    <section class="join-wrap">
                        <div class="join-finish">
                            <p class="txt-tit">
                                <br>
                                회원가입이 완료되었습니다.</p>
                            <br>
                            <p class="txt-info">로그인 후 대진 On 정보를 확인해보세요</p>
                            <br>
                            <a href="login" class="btn wide">로그인</a>
                        </div>
                    </section>
                </section>
            </main>

<%- include('../partials/footer') %>
