<%- include('../partials/header', { title: '대진 On 정보-검사' }) %>
<main class="writeb">
    <form action="/submit" method="post">
        <table class="writet">
            <tr>
                <td class="w1">글 쓰기</td>
            </tr>
            <tr>
                <td class="w2">Title</td>
            </tr>
            <tr>
                <td class="w3"><input type="text" placeholder="제목을 입력하세요" name="title"></td>
            </tr>
            <tr>
                <td class="w4">Comment</td>
            </tr>
            <tr>
                <td class="w5">
                    <textarea placeholder="내용을 입력하세요" name="contents"></textarea>
                </td>
            </tr>
            <tr>
                <td class="w6">
                    <button type="submit" class="submit-button" onclick="return handleSubmit()">등록</button>
                </td>
            </tr>
        </table>
    </form>

    <script>
        function handleSubmit() {
            alert('작성 완료!');
            return true; // 폼 제출을 허용
        }
    </script>
</main>
<%- include('../partials/footer') %>
